<h1>New graduate</h1>

<% form_for(@graduate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :year_of_graduation %><br />
    <%= f.text_field :year_of_graduation %>
  </p>
  <p>
    <%= f.label :degree_id %><br />
    <%= f.select :degree_id, Degree.all.map { |d| [d.name, d.id] } %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', graduates_path %>