<p>
  <b>Title:</b>
  <%=h @degree.title %>
</p>

<p>
  <b>Name:</b>
  <%=h @degree.name %>
</p>

<p>
  <b>Years:</b>
  <%=h @degree.years %>
</p>


<%= link_to 'Edit', edit_degree_path(@degree) %> |
<%= link_to 'Back', degrees_path %>