<h1> Books By <%=h @author.display_name%></h1>

	<ul>
		<% @books.each do |book| %>
		<li><%= link_to "#{book.title}", book %></li>
	  	<% end %>
	</ul>

<%= link_to 'Edit', edit_author_path(@author) %>|
<%= link_to 'delete', @author, :confirm => 'Are you sure?', :method => :delete %>|
<%= link_to 'Back', root_path %>