<div id = "stylized" class = "myform">
	
<h1>Request Item</h1>
<p>Request <b><%=h @message.user.name %></b> for <b><%=h @message.post.title%></b></p>

<table>
<% form_for(@message) do |f| %>
  <tr><td colspan = "2"><%= f.error_messages %></td></tr>

  <%= f.hidden_field :sender_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :post_id %>
  
  <tr>
  <td><%= f.label :subject %></td>
  <td><%= f.text_field :subject %></td>
  </tr>
  
  <tr>   
	<td valign="top">Message</td>
    <td><%= f.text_area :body ,:size => "24x6"%></td>
  </tr>
  
  
  <tr>
  	<td>&nbsp;</td>
    <td><%= f.submit 'Send Request' ,:onclick => "this.value='Sending Request';" %></td>
  <tr>
  
<% end %>
</table>
</div>


